spec:
  template:
    spec:
      containers:
        - name: materialized-updater
          resources:
            limits:
              cpu: 2000m
              memory: 4Gi
            requests:
              cpu: 500m
              memory: 1Gi
